<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dimax</title>
  <style>
      body, html {
          height: 100%;
          margin: 0;
      }

      .bg {
          /* The image used */
          background-image: url("../static/image/night_star_sky.jpg");
          /* Full height */
          height: 100%;
          background-size: cover;
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-attachment: scroll;
      }
  </style>
</head>
<body>
</body>
</html>